body {
    background-color: rgb(194, 140, 245);
}

h1{
    text-align: center;
}

.botao {
    background-color: aquamarine;
    color: antiquewhite;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.2s ease;
}

.botao:hover {
    transform: scale(1.1);
}

.botao:active {
    background-color: rgb(136, 136, 230);
}