body {
    background-color: rgb(217, 227, 235);
}

.CaixinhaBox {
    text-align:center;
    width: 300px;
    height: 200px;
    margin: 50px auto;
    background-color:rgb(82, 194, 82);
    border-top: 5px solid rgb(131, 15, 15);
    border-right: 5px dashed rgb(72, 72, 214);
    border-bottom: 5px dotted rgb(119, 0, 119);
    border-left: 5px double rgb(0, 255, 0);
}